.bg-Abigail {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -0;
}

.bg-Alex {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -32px;
}

.bg-Caroline {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -64px;
}

.bg-Clint {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -96px;
}

.bg-Demetrius {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -128px;
}

.bg-Dwarf {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -160px;
}

.bg-Elliott {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -192px;
}

.bg-Emily {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -224px;
}

.bg-Evelyn {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -256px;
}

.bg-George {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -288px;
}

.bg-Gus {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -320px;
}

.bg-Haley {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -352px;
}

.bg-Harvey {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -384px;
}

.bg-Jas {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -416px;
}

.bg-Jodi {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -448px;
}

.bg-Kent {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -480px;
}

.bg-Krobus {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -512px;
}

.bg-Leah {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -544px;
}

.bg-Lewis {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -576px;
}

.bg-Linus {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -608px;
}

.bg-Marnie {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -640px;
}

.bg-Maru {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -672px;
}

.bg-Pam {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -704px;
}

.bg-Penny {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -736px;
}

.bg-Pierre {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -768px;
}

.bg-Robin {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -800px;
}

.bg-Sam {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -832px;
}

.bg-Sandy {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -864px;
}

.bg-Sebastian {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -896px;
}

.bg-Shane {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -928px;
}

.bg-Vincent {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -960px;
}

.bg-Willy {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -992px;
}

.bg-Wizard {
    width: 32px; height: 32px;
    background: url('../../assets/spritesheets/sprites32px.png') -0 -1024px;
}