.bg-Attack {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -0;
}

.bg-Crit__Power {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -36px;
}

.bg-Defense {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -72px;
}

.bg-Energy {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -108px;
}

.bg-Farming {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -144px;
}

.bg-Fishing {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -180px;
}

.bg-Foraging {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -216px;
}

.bg-Health {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -252px;
}

.bg-Luck {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -288px;
}

.bg-Magnetism {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -324px;
}

.bg-Max_Energy {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -360px;
}

.bg-Mining {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -396px;
}

.bg-Speed {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -432px;
}

.bg-Weight {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -468px;
}

.bg-Gold_Coin {
    width: 36px; height: 36px;
    background: url('../../assets/spritesheets/sprites36px.png') -0 -504px;
}