.bg-Artist_Bookcase {
    width: 96px; height: 144px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -2972px;
}

.bg-Bamboo_Mat {
    width: 96px; height: 48px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -0;
}

.bg-Bear_Statue {
    width: 96px; height: 205px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -3852px;
}

.bg-Birch_Dresser {
    width: 96px; height: 84px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -1244px;
}

.bg-Blue_Couch {
    width: 96px; height: 65px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -776px;
}

.bg-Bone_Rug {
    width: 96px; height: 64px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -392px;
}

.bg-Brown_Couch {
    width: 96px; height: 65px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -841px;
}

.bg-Budget_TV {
    width: 96px; height: 144px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -3116px;
}

.bg-Burnt_Offering {
    width: 96px; height: 96px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -2204px;
}

.bg-Calico_Falls {
    width: 96px; height: 78px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -1166px;
}

.bg-Coffee_Table {
    width: 96px; height: 63px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -266px;
}

.bg-Dark_Bookcase {
    width: 96px; height: 144px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -3260px;
}

.bg-Dark_Couch {
    width: 96px; height: 65px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -906px;
}

.bg-Dark_Rug {
    width: 96px; height: 64px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -456px;
}

.bg-Floor_TV {
    width: 96px; height: 96px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -2300px;
}

.bg-Green_Couch {
    width: 96px; height: 65px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -971px;
}

.bg-Highway_89 {
    width: 96px; height: 96px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -2396px;
}

.bg-Junimo_Plush {
    width: 96px; height: 96px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -2492px;
}

.bg-Kitemaster_95 {
    width: 96px; height: 87px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -1580px;
}

.bg-L__Light_String {
    width: 96px; height: 48px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -48px;
}

.bg-Lg__Futan_Bear {
    width: 96px; height: 93px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -2018px;
}

.bg-Luxury_Bookcase {
    width: 96px; height: 144px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -3404px;
}

.bg-Mahogany_Dresser {
    width: 96px; height: 90px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -1928px;
}

.bg-Miners_Crest {
    width: 96px; height: 96px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -2588px;
}

.bg-Modern_Bookcase {
    width: 96px; height: 144px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -3548px;
}

.bg-Monster_Danglers {
    width: 96px; height: 48px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -96px;
}

.bg-Monster_Rug {
    width: 96px; height: 96px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -2684px;
}

.bg-Oak_Dresser {
    width: 96px; height: 84px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -1328px;
}

.bg-Patchwork_Rug {
    width: 96px; height: 64px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -520px;
}

.bg-Pathways {
    width: 96px; height: 87px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -1667px;
}

.bg-Plasma_TV {
    width: 96px; height: 96px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -2780px;
}

.bg-Primal_Motion {
    width: 96px; height: 87px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -1754px;
}

.bg-Red_Couch {
    width: 96px; height: 65px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -1036px;
}

.bg-Red_Rug {
    width: 96px; height: 64px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -584px;
}

.bg-Snowy_Rug {
    width: 96px; height: 64px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -648px;
}

.bg-Spires {
    width: 96px; height: 96px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -2876px;
}

.bg-Stone_Slab {
    width: 96px; height: 63px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -329px;
}

.bg-The_Muzzamaroo {
    width: 96px; height: 84px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -1412px;
}

.bg-Tree_of_the_Winter_Star {
    width: 96px; height: 160px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -3692px;
}

.bg-Vanilla_Villa {
    width: 96px; height: 93px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -2111px;
}

.bg-VGA_Paradise {
    width: 96px; height: 87px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -1841px;
}

.bg-Walnut_Dresser {
    width: 96px; height: 84px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -1496px;
}

.bg-Wizard_Couch {
    width: 96px; height: 60px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -144px;
}

.bg-Woodsy_Couch {
    width: 96px; height: 64px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -712px;
}

.bg-World_Map {
    width: 96px; height: 62px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -204px;
}

.bg-Yellow_Couch {
    width: 96px; height: 65px;
    background: url('../../assets/spritesheets/sprites96px.png') -0 -1101px;
}