.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.rubberBand {
    animation-name: rubberBand;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes shake {
    0% {
        transform: translate3d(0, 0, 0);
    }
    15% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(6px, 0, 0);
    }
    50% {
        transform: translate3d(-2px, 0, 0);
    }
    80% {
        transform: translate3d(0, 0, 0);
    }
}

.shake {
    animation-name: shake;
}

@keyframes headShake {
    0% {
        transform: translateX(0);
    }
    6.5% {
        transform: translateX(-6px) rotateY(-9deg);
    }
    18.5% {
        transform: translateX(5px) rotateY(7deg);
    }
    31.5% {
        transform: translateX(-3px) rotateY(-5deg);
    }
    43.5% {
        transform: translateX(2px) rotateY(3deg);
    }
    50% {
        transform: translateX(0);
    }
}

.headShake {
    animation-timing-function: ease-in-out;
    animation-name: headShake;
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }
    10%, 40% {
        transform: scale3d(1, .9, .9) rotate3d(0, 0, 1, -1deg);
    }
    60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 1deg);
    }
    70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -1deg);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    animation-name: tada;
}

@keyframes rollIn {
    from {
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 200deg);
    }
    20% {
        transform: translate3d(75%, 0, 0) rotate3d(0, 0, 1, 150deg);
    }
    40% {
        transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -30deg);
    }
    60% {
        transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 15deg);
    }
    to {
        transform: none;
    }
}

.rollIn {
    animation-timing-function: ease-in;
    animation-duration: 0.8s;
    animation-name: rollIn;
}

@keyframes textFloat {
    from {
        opacity: 0;
        transform: none;
    }
    20% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.textFloat {
    position: absolute;
    bottom: 100%;
    left: calc(100% + 8px);
    font-size: 10px;
    letter-spacing: normal;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

.textFloat.animate {
    animation-name: textFloat;
}