.bundle-item {
    background-color: var(--surface);
    color: var(--onSurface);
}

.bundle-item .bundle-info {
    padding-right: 11px;
    display: flex;
    align-items: center;
}

.bundle-item .bundle-icon {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.bundle-item .bundle-info-wrapper {
    position: relative;
    margin-left: 16px;
    flex-grow: 1;
}

.bundle-item .bundle-name {
    font-size: 18px;
}

.bundle-item .bundle-count {
    margin: 4px 0;
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
}

.bundle-item .textFloat {
    color: var(--onSurface);
}

.bundle-item .progress-bar {
    padding: 0;
    height: 8px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.3);

    background-color: var(--primaryVariant);
}

.bundle-item .progress-bar .cursor {
    height: 100%;
    transition: 0.2s ease-out;

    background-color: var(--primary);
}

.bundle-item .bundle-reward-wrapper {
    padding: 6px 11px 6px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px;

    border-bottom-color: var(--separator);
}

.bundle-item .bundle-reward {
    padding: 6px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.bundle-item .bundle-reward:hover {
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,.14);
}

.bundle-item .bundle-reward:active {
    box-shadow: inset 2px 2px rgba(0, 0, 0, 0.14);
}

.bundle-item .reward-text-wrapper {
    margin-left: 4px;
    cursor: pointer;
}

.bundle-item .bundle-reward-text {
    font-size: 12px;
    margin-right: 4px;
}

.bundle-item .bg-Bundle_Reward {
    cursor: pointer;
}

.bundle-item .bg-Bundle_Reward:not(.active) {
    filter: grayscale(100%);
    pointer-events: none;
    cursor: unset;
}

.bundle-item .reward-count {
    font-size: 10px;
    font-weight: 300;
}

/* START GAMBIARRA */
.bundles-carousel .carousel-wrapper .item-wrapper .bundle-item {
    display: flex;
    flex-direction: column;
}

.bundle-item .bundle-items-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
}
/* END GAMBIARRA */

.bundles-carousel .sprite-wrapper {
    position: relative;
    width: 24px;
    height: 24px;
}

.bundles-carousel .sprite-wrapper > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
}

.bundles-carousel .bundle-reward .bg-Bee_House,
.bundles-carousel .bundle-reward .bg-Preserves_Jar,
.bundles-carousel .bundle-reward .bg-Charcoal_Kiln,
.bundles-carousel .bundle-reward .bg-Keg,
.bundles-carousel .bundle-reward .bg-Cheese_Press,
.bundles-carousel .bundle-reward .bg-Furnace,
.bundles-carousel .bundle-reward .bg-Seed_Maker,
.bundles-carousel .bundle-reward .bg-Recycling_Machine,
.bundles-carousel .bundle-reward .bg-Heater,
.bundles-carousel .bundle-reward .bg-Lightning_Rod,
.bundles-carousel .bundle-reward .bg-Crystalarium {
    transform: translate(-50%, -50%) scale(0.375);
}

.bundles-carousel .bundle-item:last-child:first-child .item:first-child {
    margin-top: 12px;
    border-top: solid 1px var(--separator);
}

.bundle-tray {
    margin: 0 !important;
    border-radius: 6px;
    transition: 0.2s ease-out;
}

.bundle-tray.active {
    margin-right: 4px;
    box-shadow: inset 3px 3px rgba(0, 0, 0, 0.14);
}

.bundle-tray:not(.active) .dots-icon{
    padding: 0 !important;
    margin: 0 !important;
    width: 0;
}

@media(min-width: 768px) {
    .bundles-carousel,
    .rooms-carousel {
        margin-left: 14px;
        padding: 0 !important;
    }

    .bundles-carousel .item-wrapper {
        max-height: calc(100vh - 236px) !important;
    }

    .bundles-carousel .bundle-item.material {
        margin-top: 24px !important;
    }
}