.bundle-item .bundle-info {
    padding-right: 11px;
    display: flex;
    align-items: center;
}

.bundle-item .bundle-info-wrapper {
    margin-left: 16px;
    flex-grow: 1;
}

.bundle-item .bundle-name {
    font-size: 18px;
}

.bundle-item .bundle-count {
    margin: 4px 0;
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-align: right;
}

.bundle-item .progress-bar {
    padding: 0;
    height: 8px;
    border-radius: 2px;
    background-color: #C5CAE9;
    overflow: hidden;
    box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.bundle-item .progress-bar .cursor {
    height: 100%;
    background-color: #3F51B5;
    transition: 0.2s ease-out;
}

.bundle-item .bundle-reward-wrapper {
    padding-right: 11px;
    margin-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgb(180, 180, 180);
}

.bundle-item .bundle-reward {
    display: flex;
    align-items: center;
}

.bundle-item .bundle-reward .sprite {

}

.bundle-item .reward-text-wrapper {
    margin: 0 8px;
    display: flex;
    flex-direction: column;
}

.bundle-item .bundle-reward-text {
    font-size: 16px;
}

.bundle-item .reward-count {
    font-size: 12px;
    font-weight: 300;
}

/* START GAMBIARRA */
.bundles-carousel .carousel-wrapper .item-wrapper {
    max-height: calc(100vh - 142px - 48px);
}

.bundles-carousel .carousel-wrapper .item-wrapper .bundle-item {
    display: flex;
    flex-direction: column;
}

.bundle-item .bundle-items-wrapper {
    overflow-y: auto;
}
/* END GAMBIARRA */