.bundle-icon {
    width: 72px;
    height: 72px;
    flex-shrink: 0;

    background: url('../assets/bundle_icons.png');
    background-position-x: 0;
}

.bg-2500_Bundle {
    background-position-y: -0px;
}

.bg-5000_Bundle {
    background-position-y: -72px;
}

.bg-10000_Bundle {
    background-position-y: -144px;
}

.bg-25000_Bundle {
    background-position-y: -216px;
}

.bg-Adventurers_Bundle {
    background-position-y: -288px;
}

.bg-Animal_Bundle {
    background-position-y: -360px;
}

.bg-Artisan_Bundle {
    background-position-y: -432px;
}

.bg-Blacksmith_Bundle {
    background-position-y: -502px;
}

.bg-Chefs_Bundle {
    background-position-y: -576px;
}

.bg-Construction_Bundle {
    background-position-y: -648px;
}

.bg-Crab_Pot_Bundle {
    background-position-y: -720px;
}

.bg-Dye_Bundle {
    background-position-y: -792px;
}

.bg-Enchanters_Bundle {
    background-position-y: -864px;
}

.bg-Exotic_Foraging_Bundle {
    background-position-y: -936px;
}

.bg-Fall_Crops_Bundle {
    background-position-y: -1008px;
}

.bg-Fall_Foraging_Bundle {
    background-position-y: -1080px;
}

.bg-Field_Research_Bundle {
    background-position-y: -1152px;
}

.bg-Fodder_Bundle {
    background-position-y: -1224px;
}

.bg-Geologists_Bundle {
    background-position-y: -1296px;
}

.bg-Lake_Fish_Bundle {
    background-position-y: -1368px;
}

.bg-Night_Fishing_Bundle {
    background-position-y: -1440px;
}

.bg-Ocean_Fish_Bundle {
    background-position-y: -1512px;
}

.bg-Quality_Crops_Bundle {
    background-position-y: -1584px;
}

.bg-River_Fish_Bundle {
    background-position-y: -1656px;
}

.bg-Specialty_Fish_Bundle {
    background-position-y: -1728px;
}

.bg-Spring_Crops_Bundle {
    background-position-y: -1800px;
}

.bg-Spring_Foraging_Bundle {
    background-position-y: -1872px;
}

.bg-Summer_Crops_Bundle {
    background-position-y: -1944px;
}

.bg-Summer_Foraging_Bundle {
    background-position-y: -2016px;
}

.bg-The_Missing_Bundle {
    background-position-y: -2088px;
}

.bg-Winter_Foraging_Bundle {
    background-position-y: -2160px;
}