.carousel-wrapper {
    position: relative;
    user-select: none; /* dont touch this */
}

.carousel-wrapper .item-wrapper {
    display: flex; /* dont touch this */
    cursor: grab;
}

.carousel-wrapper .item-wrapper > * {
    flex: none; /* dont touch this */
}

.carousel-wrapper .cursor-wrapper {
    position: absolute;
    bottom: -8px;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 50%);
    display: flex;
}

.carousel-wrapper .cursor {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--primaryVariant);
    cursor: pointer;
    pointer-events: all;
    transition: 0.2s ease-out;
}

.carousel-wrapper .cursor:not(:last-child) {
    margin-right: 8px;
}

.carousel-wrapper .cursor.active {
    background-color: var(--primary);
}