.carousel-wrapper {
    width: 600px;
    margin: 0 auto;
    user-select: none;
    overflow: hidden;
}

.carousel-wrapper .item-wrapper {
    display: flex;
}

.carousel-wrapper .item-wrapper > * {
    flex: none;
    width: 100%;
    height: 300px;
}

.red {background-color: red;}
.blue {background-color: blue;}
.green {background-color: green;}