.header-bar {
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
}

.header-bar .settings-button {
    padding: 4px 0 2px 0;
    display: flex;
    justify-content: flex-end;
}

.header-bar .settings-button svg {
    padding: 5px 3px 3px 3px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.header-bar .settings-button svg:hover {
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
}

.header-bar .settings-button svg * {
    transition: 0.2s ease-out;
}

.header-bar .settings-button svg path {
    fill: #505050;
}

/* active */
.header-bar .settings-button svg.active .head {
    fill: #0026ff;
}

.header-bar .settings-button svg.active .first.head {
    transform: translateX(12px);
}
.header-bar .settings-button svg.active .second.head {
    transform: translateX(-12px);
}

.header-bar .settings-button .handle {
    transition-duration: 0.1s;
}

.header-bar .settings-button svg.active .first.handle,
.header-bar .settings-button svg.active .second.handle {
    transform: scaleX(1.6) translatex(-2px);
}

/* sidebar */
.header-bar .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    z-index: 25;
    transform: translateX(-100%);
    background-color: #EEEEEE;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
    transition: 0.2s ease-out;
}

.header-bar .sidebar.active {
    transform: translateX(0);
}

.header-bar .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 24;
    background-color: rgba(0, 0, 0, 0.45);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-out;
}

.header-bar .backdrop.active {
    pointer-events: unset;
    opacity: 1;
}

.header-bar .sidebar-header {
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
}

.header-bar .sidebar-header-wrapper {
    display: flex;
    align-items: center;
    height: 42px;
}

.header-bar .sidebar-header-wrapper svg {
    padding: 9px 7px 7px 7px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.header-bar .sidebar-header-wrapper svg:hover {
    transform: translateX(-2px);
}

.header-bar .sidebar-header-wrapper span {
    margin-left: 24px;
    font-size: 16px;
}

/* sidebar body */
.header-bar .sidebar-body {
    height: calc(100vh - 42px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* nav */
.header-bar .sidebar-footer nav {
    
}

/* footer */
.header-bar .sidebar-footer {
    padding: 10px 0 8px 0;
    background-color: #445ad3;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.14);
}

.header-bar .sidebar-footer .container {
    display: flex;
    align-items: center;
}

.header-bar .git-icon {
    margin-right: 16px;
}

.header-bar .git-icon svg {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transition: 0.2s ease-out;
}

.header-bar .git-icon:hover svg {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.17);
}

.header-bar .git-profile {
    position: relative;
    margin-left: 4px;
    color: #EEEEEE;
}

.header-bar .git-profile::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    border-radius: 1px;
    transition: 0.2s ease-out;
}

.header-bar .git-profile:hover::after {
    width: 100%;
}