.header-bar {
    position: relative;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
}

.header-bar .settings-button {
    padding: 4px 0 2px 0;
    display: flex;
    justify-content: space-between;
}

.header-bar .settings-button svg {
    padding: 5px 3px 3px 3px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.header-bar .settings-button svg:hover {
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
}

.header-bar .settings-button svg:active {
    box-shadow: inset 2px 2px rgba(0, 0, 0, 0.14);
}

.header-bar .settings-button svg * {
    transition: 0.2s ease-out;
}

/* settings active */
.header-bar svg.settings.active .first.head {
    transform: translateX(12px);
}
.header-bar svg.settings.active .second.head {
    transform: translateX(-12px);
}

.header-bar .settings .handle {
    transition-duration: 0.1s;
}

.header-bar svg.settings.active .first.handle,
.header-bar svg.settings.active .second.handle {
    transform: scaleX(1.6) translatex(-2px);
}

/* modes */
.header-bar .modes-wrapper svg {
    padding: 6px;
}

.header-bar .modes-wrapper > *:not(:last-child) {
    margin-right: 4px;
}

.header-bar .modes-wrapper svg:not(.active) {
    opacity: 0.5;
}

/* sidebar */
.header-bar .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    z-index: 25;
    transform: translateX(-100%);
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
    transition: 0.2s ease-out;
}

.header-bar .sidebar.active {
    transform: translateX(0);
}

.header-bar .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 24;
    background-color: rgba(0, 0, 0, 0.45);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-out;
}

.header-bar .backdrop.active {
    pointer-events: unset;
    opacity: 1;
}

.header-bar .sidebar-header {
    width: 100%;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
}

.header-bar .sidebar-header-wrapper {
    display: flex;
    align-items: center;
    height: 42px;
}

.header-bar .sidebar-header-wrapper svg {
    padding: 10px 6px 9px 6px;
    cursor: pointer;
    transition: 0.2s ease-out;
    border-radius: 3px;
}

.header-bar .sidebar-header-wrapper svg:hover {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.14);
}

.header-bar .sidebar-header-wrapper svg:active {
    box-shadow: inset 2px 2px rgba(0, 0, 0, 0.14);
}

.header-bar .sidebar-header-wrapper span {
    margin-left: 24px;
    font-size: 16px;
}

/* sidebar body */
.header-bar .sidebar-body {
    height: calc(100vh - 42px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* nav */
.header-bar .sidebar-body nav {
    margin-top: 24px;
    border-radius: 4px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.14);
    overflow: hidden;
}

/* footer */
.header-bar .sidebar-footer {
    padding: 10px 0 8px 0;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.14);
}

.header-bar .sidebar-footer .container {
    display: flex;
    align-items: center;
    font-weight: 300;
}

.header-bar .git-icon {
    margin-right: 16px;
}

.header-bar .git-icon svg {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transition: 0.2s ease-out;
}

.header-bar .git-icon:hover svg {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.17);
}

.header-bar .git-profile {
    position: relative;
    margin-left: 4px;
    font-weight: 400;
}