.data-wrapper {
    position: relative;
    margin-top: 12px;
    display: flex;
    align-items: flex-end;
    border-radius: 3px;
}

.data-wrapper .input-wrapper {
    flex-grow: 1;
}

.data-wrapper .input-wrapper::after {
    content: 'Data Code';
    position: absolute;
    top: -14px;
    left: 24px;
    font-size: 12px;
}

.data-wrapper input {
    padding: 4px 8px;
    width: 100%;
    border: solid 1px #505050;
    border-right: transparent;
    border-radius: 3px 0 0 3px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
}

.data-wrapper .buttons-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 28px;
    border: solid 1px #1a1a1a;
    border-radius: 0 3px 3px 0;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
}

.data-wrapper .buttons-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: #1a1a1a;
}

.data-wrapper .data-button {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #445ad3;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.data-wrapper .data-button:hover {
    opacity: 0.9;
}

.data-wrapper .data-button:not(.success):not(.fail):active {
    background-color: #3347bd;
}

.data-wrapper .data-button.fail {
    background-color: #d85151;
}

.data-wrapper .data-button.success {
    background-color: #71c441;
}

.data-wrapper .data-button svg {
    margin: 0 12px;
    width: 16px;
    height: 16px;
}

.data-wrapper .data-button svg path {
    fill: #fff;
}

.data-wrapper .data-button.success .copy-icon {
    opacity: 0;
    transition: 0.2s ease-out;
}

.data-wrapper .data-button .confirmed {
    margin: 0;
    position: absolute;
    right: 13px;
    opacity: 0;
    transition: 0.2s ease-out;
}

.data-wrapper .data-button.success .confirmed {
    opacity: 1;
}