.item-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    transform: translateX(100%);
}

.item-modal.active {
    transform: none;
}