.item-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
}

.item-modal.active {
    transform: none;
}

.item-modal .item-wrapper {
    padding: 0 20px;
}

.item-modal .item-name-wrapper {
    display: flex;
    align-items: flex-end;

    transform: translateY(calc(-50% - 24px));
    margin-bottom: -24px;
}

.item-modal .item-sprite {
    padding: 8px;
    margin-right: 8px;
}

.item-modal .item-name {
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.item-modal .item-name a {
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.item-modal .info-box {
    padding: 0;
    display: flex;
    overflow: hidden;
}

.item-modal .info-box:not(:last-child) {
    margin-bottom: 16px;
}

.item-modal .info-title {
    padding: 8px;
    min-width: 96px;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    justify-content: center;
}

.item-modal .info-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-modal .info-value {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
}

.item-modal .info-value:not(:last-child) {
    margin-bottom: 6px;
}

.item-modal .info-value div {
    margin-right: 3px;
    flex-shrink: 0;
}

.item-modal .info-value div:not(:first-child) {
    margin-left: 4px;
}