.location-mode-wrapper {
    margin: 0 12px;
}

/* calendar */
.location-mode-wrapper .calendar-wrapper {
    margin: 0;
    max-width: unset;
}

.location-mode-wrapper .season-picker {
    padding: 6px;
}

.location-mode-wrapper .weekdays-wrapper {
    padding: 6px;
}

.location-mode-wrapper .days-wrapper {
    padding: 6px;
}

.location-mode-wrapper .calendar-wrapper .day-item {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
}

.location-mode-wrapper .calendar-wrapper .day-item:hover,
.location-mode-wrapper .calendar-wrapper .day-item.active {
    background-color: var(--primaryVariant);
    color: #000;
}

/* npc picker */
.location-mode-wrapper .npc-picker {
    padding: 9px 16px;
    margin-top: 20px;
    position: relative;
    background-color: var(--surface);
}

.location-mode-wrapper .current-npc {
    position: absolute;
    top: 0;
    left: 16px;
    transform: translateY(-12px);
    display: flex;
    align-items: flex-end;
}

.location-mode-wrapper .portrait-wrapper {
    padding: 6px;
    margin-right: 10px;
    border-radius: 6px;
    background-color: var(--primaryVariant);
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.10);
}

.location-mode-wrapper .npc-action {
    transform: translateY(-3px);
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
    cursor: pointer;
}

.location-mode-wrapper .npc-list {
    padding-top: 3px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: solid 1px var(--separator);
}

.location-mode-wrapper .npc-list::after {
    content: '';
    flex: auto;
}

.location-mode-wrapper .npc-list > * {
    margin: 0px;
    border-radius: 6px;
    cursor: pointer;
}

.location-mode-wrapper .npc-list > *:hover {
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
}

.location-mode-wrapper .npc-list > *:active {
    box-shadow: inset 3px 3px rgba(0, 0, 0, 0.14);
}

/* conditions */
.location-mode-wrapper .conditions-wrapper {
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
}

.location-mode-wrapper .conditions-wrapper > * {
    margin: 3px 6px 3px 0;
}

.location-mode-wrapper .conditions-wrapper .toggler {
    margin-right: 4px;
}

.location-mode-wrapper .toggle-item {
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.toggler {
    position: relative;
    width: 28px;
    height: 8px;
    border-radius: 9px;
    background-color: var(--separator);
    cursor: pointer;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
    transition: 0.2s ease-out;
}

.toggler.active {
    background-color: var(--primaryVariant);
}

.toggler::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--primaryVariant);
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
    transition: 0.2s ease-out;
}

.toggler.active::after {
    left: 100%;
    transform: translate(-16px, -50%);
    background-color: var(--primary);
}

/* CAROUSELS */
.location-mode-wrapper .carousel-wrapper {
    padding-top: 16px;
    margin: 0 auto;
    max-width: 440px;
}

.location-mode-wrapper .item-wrapper > * {
    width: calc(100% - 8px);
    margin: 0 4px;
}

.location-mode-wrapper .cursor-wrapper {
    bottom: -10px;
}

/* location viewer */
.location-mode-wrapper .view-wrap {
    display: flex;
    flex-direction: column;
}

.location-mode-wrapper .location-viewport {
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: #000;
    background-repeat: no-repeat;
    transition: 0.2s ease-out;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
}

.location-mode-wrapper .location-viewport.undefined {
    background-image: url('../assets/locations/Town.png');
    background-size: cover;
}

.location-mode-wrapper .location-viewport::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background: url('../assets/cursor.png');
    transition: 0.2s ease-out;
}

.location-mode-wrapper .location-viewport.undefined::after {
    opacity: 0;
}

/* schedules */
.location-mode-wrapper .schedule-list {
    margin-top: 16px;
    border: solid 1px var(--primary);
    border-radius: 6px;
    overflow: hidden;
}

.location-mode-wrapper .schedule-item {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    cursor: pointer;
}

.location-mode-wrapper .schedule-item:not(:last-child) {
    border-bottom: solid 1px var(--primary);
}

.location-mode-wrapper .time {
    padding: 4px 8px;
    display: inline-block;
    width: 47px;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    color: var(--onPrimary);
}

.location-mode-wrapper .location {
    padding: 4px 8px;
    display: inline-block;
    width: calc(100% - 47px);
    font-size: 12px;
    font-weight: 300;
    background-color: var(--surface);
    transition: 0.2s ease-out;
}

.location-mode-wrapper .active .location,
.location-mode-wrapper .schedule-item:hover .location {
    background-color: var(--primaryVariant);
    color: #000;
}

.location-mode-wrapper .active .location {
    font-weight: 400;
}

.location-mode-wrapper .schedules-wrapper .toggle-item {
    margin-top: 10px;
    margin-bottom: -6px;
    font-weight: 300;
}

.location-mode-wrapper .schedules-wrapper .toggle-item > * {
    margin-left: 16px;
}

@media(min-width: 768px) {
    .location-mode-wrapper {
        margin-left: 16px;
        margin-right: 0;
    }

    .location-mode-wrapper .carousel-wrapper {
        max-width: unset;
    }

    .location-mode-wrapper .item-wrapper > * {
        margin: 0 6px;
        width: calc(100% - 12px);
    }
}