.AnimalShop {
    background-image: url('../assets/locations/AnimalShop.png');
}

.ArchaeologyHouse {
    background-image: url('../assets/locations/ArchaeologyHouse.png');
}

.BathHouse_Entry {
    background-image: url('../assets/locations/BathHouse_Entry.png');
}

.BathHouse_MensLocker {
    background-image: url('../assets/locations/BathHouse_MensLocker.png');
}

.Beach {
    background-image: url('../assets/locations/Beach.png');
}

.Blacksmith {
    background-image: url('../assets/locations/Blacksmith.png');
}

.BusStop {
    background-image: url('../assets/locations/BusStop.png');
}

.CommunityCenter {
    background-image: url('../assets/locations/CommunityCenter.png');
}

.ElliottHouse {
    background-image: url('../assets/locations/ElliottHouse.png');
}

.Farm {
    background-image: url('../assets/locations/Farm.png');
}

.FishShop {
    background-image: url('../assets/locations/FishShop.png');
}

.Forest {
    background-image: url('../assets/locations/Forest.png');
}

.HaleyHouse {
    background-image: url('../assets/locations/HaleyHouse.png');
}

.HarveyRoom {
    background-image: url('../assets/locations/HarveyRoom.png');
}

.Hospital {
    background-image: url('../assets/locations/Hospital.png');
}

.JojaMart {
    background-image: url('../assets/locations/JojaMart.png');
}

.JoshHouse {
    background-image: url('../assets/locations/JoshHouse.png');
}

.LeahHouse {
    background-image: url('../assets/locations/LeahHouse.png');
}

.ManorHouse {
    background-image: url('../assets/locations/ManorHouse.png');
}

.Mountain {
    background-image: url('../assets/locations/Mountain.png');
}

.Railroad {
    background-image: url('../assets/locations/Railroad.png');
}

.Saloon {
    background-image: url('../assets/locations/Saloon.png');
}

.SamHouse {
    background-image: url('../assets/locations/SamHouse.png');
}

.ScienceHouse {
    background-image: url('../assets/locations/ScienceHouse.png');
}

.SebastianRoom {
    background-image: url('../assets/locations/SebastianRoom.png');
}

.SeedShop {
    background-image: url('../assets/locations/SeedShop.png');
}

.Sunroom {
    background-image: url('../assets/locations/Sunroom.png');
}

.Tent {
    background-image: url('../assets/locations/Tent.png');
}

.Town {
    background-image: url('../assets/locations/Town.png');
}

.Trailer {
    background-image: url('../assets/locations/Trailer.png');
}