@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('../assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../assets/fonts/Roboto-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../assets/fonts/Roboto-Bold.ttf');
}


* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

fieldset {
    border: none;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-block-start: unset;
    padding-inline-start: unset;
    padding-inline-end: unset;
    padding-block-end: unset;
    min-inline-size: unset;
}

.container {
    margin: 0 24px;
}

.inner-container {
    padding: 0 24px;
}

.smooth {
    transition: 0.2s ease-out;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #EEEEEE;
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color:#d1d1d1;
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color:#c0bdbd;
}

.custom-scrollbar {
    scrollbar-color: #d1d1d1 #EEEEEE;
    scrollbar-width: thin;
}

/* MAIN */
.main {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.carousel-container {
    padding: 0 40px;
}

.carousel-container .item-wrapper > * {
    margin: 0 12px;
    width: calc(100% - 24px);
}

.material {
    padding: 24px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
}

.carousel-container .item-wrapper > .material {
    margin-top: 24px;
}