@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../assets/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('../assets/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../assets/Roboto-Bold.ttf');
}


* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #EEEEEE;
    color: #000;
}

a {
    text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

fieldset {
    border: none;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-block-start: unset;
    padding-inline-start: unset;
    padding-inline-end: unset;
    padding-block-end: unset;
    min-inline-size: unset;
}

.container {
    margin: 0 24px;
}

.smooth {
    transition: 0.2s ease-out;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #EEEEEE;
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color:#d1d1d1;
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color:#c0bdbd;
}

.custom-scrollbar {
    scrollbar-color: #d1d1d1 #EEEEEE;
    scrollbar-width: thin;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.rubberBand {
    animation-name: rubberBand;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes shake {
    0% {
        transform: translate3d(0, 0, 0);
    }

    15% {
        transform: translate3d(0, 0, 0);
    }

    30% {
        transform: translate3d(6px, 0, 0);
    }

    50% {
        transform: translate3d(-2px, 0, 0);
    }

    80% {
        transform: translate3d(0, 0, 0);
    }

}

.shake {
    animation-name: shake;
}

/* MAIN */
.main {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.carousel-container {
    padding: 0 40px;
}

.carousel-container .item-wrapper > * {
    margin: 0 12px;
    width: calc(100% - 24px);
}

.material {
    padding: 24px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.14);
}

.carousel-container .item-wrapper > .material {
    margin-top: 24px;
}