body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

fieldset {
    border: none;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-block-start: unset;
    padding-inline-start: unset;
    padding-inline-end: unset;
    padding-block-end: unset;
    min-inline-size: unset;
}

.smooth {
    transition: 0.2s ease-out;
}