.room-item .progress-text {
    position: relative;
    margin-bottom: 4px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.room-item .room-name {
    font-size: 18px;
    margin-right: 6px;
}

.room-item .room-count {
    font-size: 12px;
    font-weight: 700;
}

.room-item .progress-bar {
    padding: 0;
    height: 8px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.room-item .progress-bar .cursor {
    height: 100%;
    transition: 0.2s ease-out;
}

.room-item .room-reward-wrapper {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room-item .room-reward-name {
    font-size: 12px;
}