.bg-Fall {
    width: 48px; height: 101px;
    background: url('../assets/seeasons.png') -0 -0;
}

.bg-Spring {
    width: 71px; height: 101px;
    background: url('../assets/seeasons.png') -144px -0;
}

.bg-Summer {
    width: 48px; height: 101px;
    background: url('../assets/seeasons.png') -48px -0;
}

.bg-Winter {
    width: 48px; height: 101px;
    background: url('../assets/seeasons.png') -96px -0;
}