.season-mode {
    display: flex;
}

.season-mode .season-icon {
    position: relative;
    top: -50px;
    margin-bottom: -36px;
    flex-shrink: 0;
}

.season-mode .room-progress {
    margin-left: 16px;
    flex-grow: 1;
}


/* START GAMBIARRA */
.seasons-carousel .bundle-item {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
}

.seasons-carousel .bundle-items-wrapper {
    overflow-y: auto;
}
/* END GAMBIARRA */