.option-wrapper .option-head {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: inset 2px rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 0.15s ease-out;

    background-color: var(--surface);
    border-bottom-color: var(--separator) !important;
}

.option-wrapper:not(:last-child) .option-head {
    border-bottom: solid 1px;
}

.option-wrapper:last-child .option-head {
    border-color: transparent !important;
}

.option-wrapper .option-head:active {
    border-color: rgba(0, 0, 0, 0.14);
}

.option-wrapper.active .option-head {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.14);
}

.option-wrapper.active .option-head:active {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.07);
}

.option-wrapper .option-name {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
}

.option-wrapper .option-name svg {
    margin-right: 12px;
}

.option-wrapper .option-head .option-arrow {
    width: 18px;
    height: 18px;
    transition: 0.2s ease-out;
}

.option-wrapper:hover .option-head .option-arrow {
    transform: translateX(2px);
}

.option-wrapper.active .option-head .option-arrow {
    transform: rotate(90deg) translateX(3px);
}

.option-wrapper.active:hover .option-head .option-arrow {
    transform: rotate(90deg) translateX(4px);
}

.option-wrapper .option-content {
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
}

.option-wrapper.active .option-content {
    padding-top: 20px;
    padding-bottom: 20px;
    max-height: 800px; /* RANCAR */
}