.bg-combat {
    width: 64px; height: 64px;
    background: url('../assets/skills.png') -0 -0;
}

.bg-farming {
    width: 64px; height: 64px;
    background: url('../assets/skills.png') -64px -0;
}

.bg-fishing {
    width: 64px; height: 64px;
    background: url('../assets/skills.png') -128px -0;
}

.bg-foraging {
    width: 64px; height: 64px;
    background: url('../assets/skills.png') -192px -0;
}

.bg-mining {
    width: 64px; height: 64px;
    background: url('../assets/skills.png') -256px -0;
}

.bg-misc {
    width: 64px; height: 64px;
    background: url('../assets/skills.png') -320px -0;
}