.skill-icon {
    width: 32px;
    height: 32px;
    background: url('../assets/skills.png');
    background-position-y: -0;
}

.bg-combat {
    background-position-x: -0;
}

.bg-farming {
    background-position-x: -32px;
}

.bg-fishing {
    background-position-x: -64px;
}

.bg-foraging {
    background-position-x: -96px;
}

.bg-mining {
    background-position-x: -128px;
}

.bg-misc {
    background-position-x: -160px;
}