.sprite {
    width: 48px;
    flex-shrink: 0;
    background: url('../assets/spritesheet.png');
    background-position-x: -0;
}

.bg-2500g, .bg-5000g, .bg-10000g, .bg-25000g {
    height: 48px;
    background-position-y: -2448px;
}

.bg-Ancient_Fruit {
    height: 48px;
    background-position-y: -0;
}

.bg-Apple {
    height: 48px;
    background-position-y: -48px;
}

.bg-Apricot {
    height: 48px;
    background-position-y: -96px;
}

.bg-Aquamarine {
    height: 48px;
    background-position-y: -144px;
}

.bg-Autumns_Bounty {
    height: 48px;
    background-position-y: -192px;
}

.bg-Bat_Wing {
    height: 48px;
    background-position-y: -240px;
}

.bg-Bee_House {
    height: 96px;
    background-position-y: -6744px;
}

.bg-Blackberry {
    height: 48px;
    background-position-y: -288px;
}

.bg-Blueberry {
    height: 48px;
    background-position-y: -336px;
}

.bg-Bream {
    height: 48px;
    background-position-y: -384px;
}

.bg-Bullhead {
    height: 48px;
    background-position-y: -432px;
}

.bg-Cactus_Fruit {
    height: 48px;
    background-position-y: -480px;
}

.bg-Carp {
    height: 48px;
    background-position-y: -528px;
}

.bg-Catfish {
    height: 48px;
    background-position-y: -576px;
}

.bg-Cauliflower {
    height: 48px;
    background-position-y: -624px;
}

.bg-Cave_Carrot {
    height: 48px;
    background-position-y: -672px;
}

.bg-Caviar {
    height: 48px;
    background-position-y: -720px;
}

.bg-Charcoal_Kiln {
    height: 96px;
    background-position-y: -6840px;
}

.bg-Cheese {
    height: 48px;
    background-position-y: -768px;
}

.bg-Cheese_Press {
    height: 96px;
    background-position-y: -6936px;
}

.bg-Cherry {
    height: 48px;
    background-position-y: -816px;
}

.bg-Chocolate_Cake {
    height: 48px;
    background-position-y: -864px;
}

.bg-Chub {
    height: 48px;
    background-position-y: -912px;
}

.bg-Clam {
    height: 48px;
    background-position-y: -960px;
}

.bg-Cloth {
    height: 48px;
    background-position-y: -1008px;
}

.bg-Cockle {
    height: 48px;
    background-position-y: -1056px;
}

.bg-Coconut {
    height: 48px;
    background-position-y: -1104px;
}

.bg-Common_Mushroom {
    height: 48px;
    background-position-y: -1152px;
}

.bg-Copper_Bar {
    height: 48px;
    background-position-y: -1200px;
}

.bg-Corn {
    height: 48px;
    background-position-y: -1248px;
}

.bg-Crab {
    height: 48px;
    background-position-y: -1296px;
}

.bg-Crab_Pot {
    height: 48px;
    background-position-y: -1344px;
}

.bg-Crayfish {
    height: 48px;
    background-position-y: -1392px;
}

.bg-Crocus {
    height: 48px;
    background-position-y: -1440px;
}

.bg-Crystalarium {
    height: 96px;
    background-position-y: -7032px;
}

.bg-Crystal_Fruit {
    height: 48px;
    background-position-y: -1488px;
}

.bg-Daffodil {
    height: 48px;
    background-position-y: -1536px;
}

.bg-Dandelion {
    height: 48px;
    background-position-y: -1584px;
}

.bg-Dinosaur_Mayonnaise {
    height: 48px;
    background-position-y: -1632px;
}

.bg-Dish_o_The_Sea {
    height: 48px;
    background-position-y: -1680px;
}

.bg-Dressed_Spinner {
    height: 48px;
    background-position-y: -1728px;
}

.bg-Duck_Egg {
    height: 48px;
    background-position-y: -1776px;
}

.bg-Duck_Feather {
    height: 48px;
    background-position-y: -1824px;
}

.bg-Earth_Crystal {
    height: 48px;
    background-position-y: -1872px;
}

.bg-Eel {
    height: 48px;
    background-position-y: -1920px;
}

.bg-Eggplant {
    height: 48px;
    background-position-y: -1968px;
}

.bg-Fall_Seeds {
    height: 48px;
    background-position-y: -2016px;
}

.bg-Fiddlehead_Fern {
    height: 48px;
    background-position-y: -2064px;
}

.bg-Fire_Quartz {
    height: 48px;
    background-position-y: -2112px;
}

.bg-Fried_Egg {
    height: 48px;
    background-position-y: -2160px;
}

.bg-Frozen_Geode {
    height: 48px;
    background-position-y: -2208px;
}

.bg-Frozen_Tear {
    height: 48px;
    background-position-y: -2256px;
}

.bg-Furnace {
    height: 96px;
    background-position-y: -7128px;
}

.bg-Ghostfish {
    height: 48px;
    background-position-y: -2304px;
}

.bg-Goat_Cheese {
    height: 48px;
    background-position-y: -2352px;
}

.bg-Gold_Bar {
    height: 48px;
    background-position-y: -2400px;
}

.bg-Gold_Quality_Icon {
    height: 48px;
    background-position-y: -2496px;
}

.bg-Grape {
    height: 48px;
    background-position-y: -2544px;
}

.bg-Green_Bean {
    height: 48px;
    background-position-y: -2592px;
}

.bg-Hardwood {
    height: 48px;
    background-position-y: -2640px;
}

.bg-Hay {
    height: 48px;
    background-position-y: -2688px;
}

.bg-Hazelnut {
    height: 48px;
    background-position-y: -2736px;
}

.bg-Heater {
    height: 72px;
    background-position-y: -6672px;
}

.bg-Honey {
    height: 48px;
    background-position-y: -2784px;
}

.bg-Hot_Pepper {
    height: 48px;
    background-position-y: -2832px;
}

.bg-Iron_Bar {
    height: 48px;
    background-position-y: -2880px;
}

.bg-Jelly {
    height: 48px;
    background-position-y: -2928px;
}

.bg-Keg {
    height: 96px;
    background-position-y: -7224px;
}

.bg-Large_Brown_Egg {
    height: 48px;
    background-position-y: -2976px;
}

.bg-Large_Egg {
    height: 48px;
    background-position-y: -3024px;
}

.bg-Large_Goat_Milk {
    height: 48px;
    background-position-y: -3072px;
}

.bg-Large_Milk {
    height: 48px;
    background-position-y: -3120px;
}

.bg-Largemouth_Bass {
    height: 48px;
    background-position-y: -3168px;
}

.bg-Leek {
    height: 48px;
    background-position-y: -3216px;
}

.bg-Lightning_Rod {
    height: 96px;
    background-position-y: -7320px;
}

.bg-Lobster {
    height: 48px;
    background-position-y: -3264px;
}

.bg-Maki_Roll {
    height: 48px;
    background-position-y: -3312px;
}

.bg-Maple_Syrup {
    height: 48px;
    background-position-y: -3360px;
}

.bg-Melon {
    height: 48px;
    background-position-y: -3408px;
}

.bg-Morel {
    height: 48px;
    background-position-y: -3456px;
}

.bg-Mussel {
    height: 48px;
    background-position-y: -3504px;
}

.bg-Nautilus_Shell {
    height: 48px;
    background-position-y: -3552px;
}

.bg-Oak_Resin {
    height: 48px;
    background-position-y: -3600px;
}

.bg-Omni_Geode {
    height: 48px;
    background-position-y: -3648px;
}

.bg-Orange {
    height: 48px;
    background-position-y: -3696px;
}

.bg-Oyster {
    height: 48px;
    background-position-y: -3744px;
}

.bg-Parsnip {
    height: 48px;
    background-position-y: -3792px;
}

.bg-Peach {
    height: 48px;
    background-position-y: -3840px;
}

.bg-Periwinkle {
    height: 48px;
    background-position-y: -3888px;
}

.bg-Pine_Tar {
    height: 48px;
    background-position-y: -3936px;
}

.bg-Pink_Cake {
    height: 48px;
    background-position-y: -3984px;
}

.bg-Pomegranate {
    height: 48px;
    background-position-y: -4032px;
}

.bg-Poppy {
    height: 48px;
    background-position-y: -4080px;
}

.bg-Potato {
    height: 48px;
    background-position-y: -4128px;
}

.bg-Preserves_Jar {
    height: 96px;
    background-position-y: -7416px;
}

.bg-Prismatic_Shard {
    height: 48px;
    background-position-y: -4176px;
}

.bg-Pufferfish {
    height: 48px;
    background-position-y: -4224px;
}

.bg-Pumpkin {
    height: 48px;
    background-position-y: -4272px;
}

.bg-Purple_Mushroom {
    height: 48px;
    background-position-y: -4320px;
}

.bg-Quality_Fertilizer {
    height: 48px;
    background-position-y: -4368px;
}

.bg-Quality_Sprinkler {
    height: 48px;
    background-position-y: -4416px;
}

.bg-Quartz {
    height: 48px;
    background-position-y: -4464px;
}

.bg-Rabbits_Foot {
    height: 48px;
    background-position-y: -4512px;
}

.bg-Recycling_Machine {
    height: 96px;
    background-position-y: -7512px;
}

.bg-Red_Cabbage {
    height: 48px;
    background-position-y: -4560px;
}

.bg-Red_Mushroom {
    height: 48px;
    background-position-y: -4608px;
}

.bg-Red_Snapper {
    height: 48px;
    background-position-y: -4656px;
}

.bg-Sandfish {
    height: 48px;
    background-position-y: -4704px;
}

.bg-Sardine {
    height: 48px;
    background-position-y: -4752px;
}

.bg-Sea_Urchin {
    height: 48px;
    background-position-y: -4800px;
}

.bg-Seed_Maker {
    height: 96px;
    background-position-y: -7608px;
}

.bg-Shad {
    height: 48px;
    background-position-y: -4848px;
}

.bg-Shrimp {
    height: 48px;
    background-position-y: -4896px;
}

.bg-Silver_Quality_Icon {
    height: 48px;
    background-position-y: -4944px;
}

.bg-Slime {
    height: 48px;
    background-position-y: -4992px;
}

.bg-Small_Glow_Ring {
    height: 48px;
    background-position-y: -5040px;
}

.bg-Small_Magnet_Ring {
    height: 48px;
    background-position-y: -5088px;
}

.bg-Snail {
    height: 48px;
    background-position-y: -5136px;
}

.bg-Snow_Yam {
    height: 48px;
    background-position-y: -5184px;
}

.bg-Solar_Essence {
    height: 48px;
    background-position-y: -5232px;
}

.bg-Speed_Gro {
    height: 48px;
    background-position-y: -5280px;
}

.bg-Spice_Berry {
    height: 48px;
    background-position-y: -5328px;
}

.bg-Spring_Seeds {
    height: 48px;
    background-position-y: -5376px;
}

.bg-Stone {
    height: 48px;
    background-position-y: -5424px;
}

.bg-Sturgeon {
    height: 48px;
    background-position-y: -5472px;
}

.bg-Summer_Seeds {
    height: 48px;
    background-position-y: -5520px;
}

.bg-Sunfish {
    height: 48px;
    background-position-y: -5568px;
}

.bg-Sunflower {
    height: 48px;
    background-position-y: -5616px;
}

.bg-Sweet_Pea {
    height: 48px;
    background-position-y: -5664px;
}

.bg-Tiger_Trout {
    height: 48px;
    background-position-y: -5712px;
}

.bg-Tilapia {
    height: 48px;
    background-position-y: -5760px;
}

.bg-Tomato {
    height: 48px;
    background-position-y: -5808px;
}

.bg-Truffle {
    height: 48px;
    background-position-y: -5856px;
}

.bg-Truffle_Oil {
    height: 48px;
    background-position-y: -5904px;
}

.bg-Tuna {
    height: 48px;
    background-position-y: -5952px;
}

.bg-Void_Essence {
    height: 48px;
    background-position-y: -6000px;
}

.bg-Void_Salmon {
    height: 48px;
    background-position-y: -6048px;
}

.bg-Walleye {
    height: 48px;
    background-position-y: -6096px;
}

.bg-Warp_Totem_Beach {
    height: 48px;
    background-position-y: -6144px;
}

.bg-Wheat {
    height: 48px;
    background-position-y: -6192px;
}

.bg-Wild_Horseradish {
    height: 48px;
    background-position-y: -6240px;
}

.bg-Wild_Plum {
    height: 48px;
    background-position-y: -6288px;
}

.bg-Wine {
    height: 48px;
    background-position-y: -6336px;
}

.bg-Winter_Root {
    height: 48px;
    background-position-y: -6384px;
}

.bg-Winter_Seeds {
    height: 48px;
    background-position-y: -6432px;
}

.bg-Wood {
    height: 48px;
    background-position-y: -6480px;
}

.bg-Woodskip {
    height: 48px;
    background-position-y: -6528px;
}

.bg-Wool {
    height: 48px;
    background-position-y: -6576px;
}

.bg-Yam {
    height: 48px;
    background-position-y: -6624px;
}

.bg-Bundle_Reward {
    height: 27px;
    width: 27px;
    background: url('../assets/spritesheet.png') -11px -7715px;
}

.bg-Bait {
    height: 48px;
    background-position-y: -7752px;
}