.theme-picker .theme-item {
    padding-right: 16px;
    display: flex;
    align-items: center;
    border: solid 1px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.14);
    transition: 0.2s ease-out;
}

.theme-picker .theme-item:hover {
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.2);
}

.theme-picker .theme-item:not(:last-child) {
    margin-bottom: 8px;
}

.theme-picker .primary-block {
    position: relative;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 3px 0 0 3px;
    border: solid 1px;
}

.theme-picker .checkbox {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    border: solid 2px;
    border-radius: 4px;
    transition: 0.2s ease-out;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,.14);
}

.theme-picker .checkbox:hover {
    box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

.theme-picker .tick {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 16px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-right: 3px solid;
    border-bottom: 3px solid;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.theme-picker .checkbox.animated .tick {
    opacity: 1;
}